.all-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  > a,
  > img {
    flex: 0 0 auto;
  }

  img {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto 10px;
  }
}

.slide-logos {
  &,
  .slick-slide {
    height: 200px;
  }
  img {
    padding: 0 10px;
    width: 100%;
  }
}
