section.video {
	height: 720px;
	position: relative;
	overflow: hidden;
	width: 100%;

	.scratch-video {
		height: 100%;
		width: 100%;
		object-fit: cover;
		position: relative;
	}

	div.scratch-video {
		display: none;
		opacity: 0;
	}

	video.scratch-video {
		display: block;
	}

	.overlay {
		position: relative;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.25);
		transform: translateY(-100%);
		z-index: 5;
	}

	.wrap {
		height: 100%;
		color: #fff;
	}

	.hvalign-always {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.center {
		text-align: center;
	}
}
