$header-color: #3d9970;

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.menu-nav {
  @extend %clearfix;
  float: right;
}

.main-nav {
  @extend %clearfix;

  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 72px;
  width: 100%;
  z-index: 100;

  li {
    display: block;
    margin: 0;
    text-align: center;
  }

  .current_page_item {
    a {
      background-color: darken($header-color, 5%);

      &:link,
      &:active,
      &:visited {
        background-color: darken($header-color, 5%);
      }
    }
  }

  a {
    background-color: $header-color;
    color: white;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out 0s;

    &:link,
    &:active,
    &:visited {
      background-color: $header-color;
      color: white;
    }

    &:hover,
    &:focus {
      background-color: darken($header-color, 5%);
      text-decoration: none;
    }
  }

  .sub-menu {
    display: none;
  }
}

@media (min-width: 767px) {
  .main-nav {
    display: block !important;
    float: right;
    position: relative;
    top: 0;
    width: auto;

    li {
      float: left;

      &:hover > .sub-menu {
        display: block;
      }
    }

    a {
      padding: 24px 1rem;
    }
  }

  .sub-menu {
    background-color: $header-color;
    padding: 0;
    position: absolute;
    top: 100%;

    li {
      float: none;
      position: relative;
      text-align: left;
    }

    a {
      background-color: $header-color;
      color: white;
      padding: 0.5rem 1rem;

      &:link,
      &:active,
      &:visited {
        background-color: $header-color;
        color: white;
      }

      &:hover,
      &:focus {
        background-color: darken($header-color, 5%);
        text-decoration: none;
      }
    }

    ul {
      left: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.nav-toggle {
  color: white;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  transition: transform 0.25s ease-in-out 0s;

  &.active {
    transform: rotate(-90deg);
  }

  @media (min-width: 767px) {
    display: none;
  }
}
