@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slide {
  .slide-text {
    color: white;
    margin: 0 auto;
    padding: 1rem 4rem;
    text-align: center;

    @media (min-width: 767px) {
      padding: 1rem 6rem;
    }
  }
  .overlay {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 960px;
    width: 100%;
  }
}

.slick-slider {
  &,
  .slick-slide {
    height: 350px;
    overflow: hidden;

    &:not(.slide-logos) {
      @media (min-width: 767px) {
        height: 500px;
      }
    }
  }

  .slick-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .slick-arrow {
    background-color: transparent;
    height: auto;
    padding: 0;
    width: auto;
    z-index: 1;
    color: white;
    font-size: 2rem;
    opacity: 0.75;

    &.slick-prev {
      left: 25px;
    }

    &.slick-next {
      right: 25px;
    }

    &:before {
      content: "";
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 1;
    }

    .sr-only {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      width: 1px;
      word-wrap: normal !important;
    }
  }

  &.slick-dotted {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 5%;
    line-height: 0;

    li {
      height: 15px;
      width: 15px;
    }

    .slick-active {
      button {
        &::before {
          color: white;
        }
      }
    }

    button {
      background-color: transparent;
      height: 15px;
      padding: 0;
      width: 15px;

      &::before {
        color: white;
        font-size: 15px;
        height: 15px;
        line-height: 17px;
        width: 15px;
      }
    }
  }
}

.slide-logos {
  &,
  .slick-slide {
    height: 200px;
  }
  img {
    padding: 0 10px;
    width: 100%;
  }
}
